# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angularTests/dist
angularTests/tmp
angularTests/out-tsc

# dependencies
angularTests/node_modules
angularTests/e2e

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
